body{

    height: 5000px; 
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .8s linear;

}
.bg-ahmed{
    background-color: red; 
    transition: all .8s linear;
}

h2{
    margin-top: 100px;
}